@import "breakPoints";
@import "colors";
.ProductArea{
  .search-bar-container{
      .search-bar-input{
       border: 0;
       .basic-addon1{
         background-color: white;
         cursor: pointer;
       }
      }
  }
  .demo-msg-container{
    background-color: #D1ECF1;
    border-radius: 10px;
  }
}
@media only screen and (max-width: $medium) {
  .ProductArea{
    .search-bar-container{
      .search-bar-input{
        font-size: small;
        }
      }
    }
    .demo-msg-container{
      background-color: #D1ECF1;
      border-radius: 10px;
    }
  }
.products-category-container{
  .demo-msg{
    color: $theme-green;
  }
  .single-category{
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media only screen and (max-width: $small) {

  .products-category-container{
    .demo-msg{
      font-size: medium;
    }
    .single-category{
      font-size: x-small;
      .category-1{
        width: 25px;
        height: 25px;
      }
    }
  }

}

