@import "breakPoints";
@import "colors";
.ProductArea{
  .search-bar-container{
      .search-bar-input{
       border: 0;
       .basic-addon1{
         background-color: white;
         cursor: pointer;
       }
      }
  }
  .demo-msg-container{
    background-color: #D1ECF1;
    border-radius: 10px;
  }

  .products-category-container{
    border: 1px solid crimson;
    margin: 0;
    width: 100%;
    max-width: 100%;
    .demo-msg{
      color: $theme-green;
    }
    .single-category{
      width: 20%;
      border: 1px solid #6b6b6b;
      border-radius: 5px;
      cursor: pointer;
    }
  }

}
@media only screen and (max-width: $medium) {
  .ProductArea{
    //background-color: #4A8601;
    .search-bar-container{
      .search-bar-input{
        font-size: small;
        }
      }
    }
    .demo-msg-container{
      background-color: #D1ECF1;
      border-radius: 10px;
    }

    .products-category-container{
      margin: 0;
      .single-category{
        max-width: 100%;
        padding: 0;
        //margin: 0.1em;
      }
    }

  }


@media only screen and (max-width: $small) {

  .products-category-container{
    .demo-msg{
      font-size: medium;
    }
    .single-category{
      font-size: x-small;
      padding-top: 0.9em;
      padding-bottom: 0;
      .category-1{
        width: 75%;
        height: 55%;
      }
    }
  }

}

