@import "breakPoints";
@import "colors";

.product-list-container{
  max-width: 100%;
  border: 2px solid crimson ;
  .product-container{
    max-width: 15em;
    border: 1px solid black ;
    border-radius: 5px;
    p{
      font-size: .9em;
    }
    Button{
      width: 75%;
      font-size: .7em;
      border-radius: 1.5em;
    }
    .discount-text{
     text-decoration: line-through;
    }
  }
}