@import "breakPoints";
@import "colors";

.product-list-container{
  max-width: 100%;
  border: 2px solid crimson ;
  .product-container{
    max-width: 15em;
    border: 1px solid black ;
    border-radius: 5px;
    p{
      font-size: .9em;
      color: $theme-green;
    }
    Button{
      width: 75%;
      font-size: .7em;
      border-radius: 1.5em;
    }
    .discount-text{
     text-decoration: line-through;
      color: slategrey;
    }
  }
}

@media only screen and (max-width: $small){
  .product-list-container{
    max-width: 100%;
    .product-container{
      padding: 0;
      margin: 0.7em 0.7em 1em;
      Button{
        margin-bottom: 1em;
      }
    }
  }
}